@model EasyJob.AppMVC.ViewModel.JobViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSalaryPerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSalaryPerHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSalaryPerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSalaryPerHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourPerWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourPerWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklySalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklySalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiWeeklySalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiWeeklySalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlySalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlySalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklySalaryPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklySalaryPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiWeeklySalaryPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiWeeklySalaryPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeedExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeedExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeedCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeedCar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeedTools)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeedTools)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ride)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ride)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
