@model IEnumerable<EasyJob.AppMVC.ViewModel.JobViewModel>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAll</h1>

<p>
    <a asp-action="GetAll">Lista de vagas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinSalaryPerHour)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.MaxSalaryPerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeeklySalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiWeeklySalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlySalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeeklySalaryPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiWeeklySalaryPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeedExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeedCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeedTools)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Adress.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinSalaryPerHour)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MaxSalaryPerHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourPerWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeeklySalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BiWeeklySalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthlySalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeeklySalaryPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BiWeeklySalaryPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthlyPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeedExp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeedCar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeedTools)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ride)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Adress.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })|
                    @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
